.home {
    background: #222121;
    text-align: center;
    padding: 5% 0%;
}

.home > * {
    color: white;
}

.home h1 {
    font-size: 70px;
    color: #ff2e5f;
}

.home p {
    margin-bottom: 10px;
}

.home .heading {
    font-size: 30px;
    margin: 30px;
    color: rgb(9, 210, 237);
}

.home .description {
    font-size: 25px;
}

.btn {
    padding: 1% 3%;
}

.desc{
    color: cadetblue;
}

